@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 33% 89%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 356 38% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 33% 89%;
    --secondary-foreground: 359 100% 58%;
    --muted: 0 0% 91%;
    --muted-foreground: 0 0% 58%;
    --accent: 359 100% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 91%;
    --input: 0 0% 91%;
    --ring: 356 38% 44%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}
